* 
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0px;
  }

nav 
{
    background: #eed9c4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.nav_area_user
{
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
}

/* Sidebar  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #eed9c4;
  padding: 50px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.sidebar.active {
  display: block;
}

.sidebar h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.menu-item {
  padding: 30px 0;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  display: block;
}

.menu-item a:hover {
  color: #7b3f00;
}

.content {
  padding: 20px;
  flex-grow: 1;
}
