*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*header*/
header
{
    background-color: #eed9c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    font-size: 2rem;
}
.img_logo
{
    height: 7rem;
}
.img_nav_login
{
    height: 3.75rem;
}
.nav_area_user
{
    display: flex;
    align-items: baseline;
    padding-right: 0.6rem;
}
/*container more*/
.container-menu-containers
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*Lista*/
.container
{
    background-color: #eed9c4;
    display: flex;
    flex-direction: column;
    padding: 1.2rem  1.5rem 1.5rem 1.5rem;
    border-radius: 1.5rem;
    width: fit-content;
    margin-top: 2rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.items
{
    background-color: #FACF7D;
    padding: 1rem;
    margin: 0.3215rem;
    height: 28rem;
    border-radius: 0.3rem;
    overflow-y: scroll;
}
.item_box
{
    display: flex;
    align-items: center;
    background-color: #eed9c4;
    padding: .1875rem;
    transition-duration: 0.3s;
    font-size: 1.3rem;
}
.items .item_box:hover
{
    background-color: #d384353d;
}
.img-item{
    height: 4rem;
}
li
{
    margin: 1.25rem  3.125rem 1.25rem  1.25rem ; 
}
/*Menu lateral*/
.button-containter
{
    background-color: #EED9C4;
    padding: 3.125rem;
    width: fit-content;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.button-containter .btn:hover{
    background-color:  #d57617b1;
}
.btn
{
    background-color: antiquewhite;
    font-size: 1.5rem;
    padding: 1.3rem;
    margin: 0.3125rem 0px 0.3125rem 0px;
    text-align: center;
    transition: 0.3s;
}
.menu-text
{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.config_container
{
    display: flex;
    flex-direction: column;
}