* 
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Special Gothic Condensed One", sans-serif;
    text-decoration: none;
  }

:root
{
  --pessego: #eed9c4;
  --chocolate: #7d3f00;
  --cinza_claro: #c0c0c0;
}

nav 
{
    background: #eed9c4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.nav_area_user
{
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_nav
{
  margin-right: 7px; 
  color: var(--chocolate); 
  font-size: 25px;
  letter-spacing: 0.7px; 
  font-weight: bold;
}

.img_nav_login
{
  height: 50px;
}

.container_centralizacao
{
  display: flex;
}

.container_divisao
{
  padding: 0.7rem;
  margin: 0.5rem;
}

.div_opcao
{
  font-size: 20px;
  color: var(--chocolate);
  width: 12rem;
  text-align: center;
  background-color: var(--pessego);
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--chocolate);
}

.p_opcoes
{
  padding: 0.8rem;
}

.container_menu_gerenciamento
  {
    width: fit-content;
    margin: 250px auto 0;
  }

@media (min-width: 768px) and (max-width: 1366px) 
{
  .img_nav_login
  {
    height: 30px;
  }

  .img_logo
  {
    height: 150px;
  }

  .p_nav
  {
    margin-right: 7px; 
    color: black; 
    font-size: 20px; 
    font-weight: bold;
  }

  .section_menu_gerenciamento
  {
    background-color: aqua;
    width: fit-content;
    margin: 100px auto 0;
  }

}