* 
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

nav 
{
    background: #eed9c4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.nav_area_user
{
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_nav
{
  margin-right: 7px; 
  color: black; 
  font-size: 20px; 
  font-weight: bold;
}

.img_nav_login
{
  height: 40px;
}

@media (min-width: 768px) and (max-width: 1366px) 
{
  .img_nav_login
  {
    height: 30px;
  }

  .img_logo
  {
    height: 150px;
  }

  .p_nav
  {
    margin-right: 7px; 
    color: black; 
    font-size: 20px; 
    font-weight: bold;
  }

  .section_menu_gerenciamento
  {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}